<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <gdwgeneral/>
        <gdwweb/>
        <gdwcatalog/>
        <gdwcustomer/>
        <gdwseo/>
        <gdwmarketing/>
        <gdwsecurity/>
        <gdwsales/>
        <gdwdeveloper/>
        <gdwservices>
            <consulting/>
        </gdwservices>
    </default>
</config>
